.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activated-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: red;
}
